.DS_Store
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/spec/tmp
/spec/examples.txt
*.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
config/master.key

## Environment normalization:
/.bundle
/vendor/bundle

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Simplecov
coverage/

# Ignore dump.rdb file
dump.rdb

# Ignore Rubymine project files
.idea/

# vsCode
.vscode/

# .env.local
.env.local

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
